{% extends 'layout.html' %}

{% set title = 'About' %}

{% block content %}
  <p>
    Creating cloud apps and services is a lot of fun. However, it's easy to make mistakes.  I started this blog to help folks avoid the bad stuff so they can get on with the business of reinventing the world. I've been hacking on cloud projects almost since Amazon kicked off the revolution with S3, and I'd like to share with you what I've learned.
  </p>
  <p>


    As the man says, scaling is a "nice problem to have," but solving that problem
hard to find...
    conflicting info, clear answers, objective, old baggage/biases, deceptive, scaling problem. been there? performance

    promise is to reach a lot more people, with less effort, but also easier to fail?
  </p>
  <p>
    the solution

    elegant, scalable, performant, maintainable, secure, efficient

     share practical tips and insights that you can use in your own cloud projects.
  </p>
  <p>
    why you should listen to me

    from the trenches, pragmattic, cloud company
  </p>
  <p>
    conclusion

     and end up having to rewrite a bunch of code as soon as you hit your first scaling

     call to action - read/conversation
  </p>
{% endblock %}
