{% extends 'layout.html' %}

{% set title = item.title ~ ' : Blog' %}

{% block content %}
<div class="item">
  <div id="sidebar">
    <div>
      <div class="invitation">
        <h1>Slow Website?</h1>
        <p>
          Check out Luhnar for an <a href="https://www.luhnar.com/">easy way to speed up</a> your client's Django, WordPress, or other CMS-based or custom site.
        </p>
        <p style="">
          <a href="https://www.luhnar.com/"><img height="16" src="/assets/images/luhnar-cdn-speed-up-website.svg"><br>www.luhnar.com</a>
        </p>
      </div>
      <p class="instructions">Share this post for much win.</p>
      <div class="body">
        <script type="text/javascript" src="http://platform.linkedin.com/in.js"></script><script type="in/share" data-url="http://blog.kgriffs.com{{ item.url }}"></script>
        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>

  <div class="header">
    <h1>{{ item.title }} </h1>
    <h2>{% if not item.nodate %}{{ item.date }}{% endif %}{% if item.tags %} <span>&raquo;</span> {% for tag in item.tags %}<a href="{{ get_url(posts.tags[tag].url) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</h2>
  </div>

  <div class="body">
    {{ item.content }}
  </div>

  <div class="next-prev">
    {% if item.next %}
    <a href="{{ item.next.url }}">&#8678; {{ item.next.title }}</a>
    {% endif %}
    {% if item.next and item.prev %}&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
    {% if item.prev %}
    <a href="{{ item.prev.url }}">{{ item.prev.title }} &#8680;</a>
    {% endif %}
  </div>


</div>
{% endblock %}
